{:org.immutant.web/config           {:port 3030
                                     :host "localhost"}

 :com.fulcrologic.rad.database-adapters.sql/databases
                                    {:billing {; Flyway: see https://github.com/fulcrologic/fulcro-rad-sql#using-flyway
                                               :flyway/migrate?          true
                                               :flyway/migrations        ["classpath:config/sql_migrations"]
                                               :hikaricp/config          {"maximumPoolSize"     "3" ; flyway fails if just 1
                                                                          "dataSourceClassName" "org.h2.jdbcx.JdbcDataSource"
                                                                          "dataSource.user"     "sa"
                                                                          "dataSource.password" :env/DB_PSW
                                                                          "dataSource.URL"      "jdbc:h2:mem:dev-db2;DB_CLOSE_DELAY=-1"}
                                               :sql/vendor               :h2
                                               :sql/auto-create-missing? true
                                               :sql/schema               :billing}}


 :ring.middleware/defaults-config   {:params    {:keywordize true
                                                 :multipart  true
                                                 :nested     true
                                                 :urlencoded true}
                                     :cookies   true
                                     :responses {:absolute-redirects     true
                                                 :content-types          true
                                                 :default-charset        "utf-8"
                                                 :not-modified-responses true}
                                     :session   true
                                     :static    {:resources "public"}
                                     :security  {:anti-forgery   false
                                                 :hsts           true
                                                 :ssl-redirect   false
                                                 :frame-options  :sameorigin
                                                 :xss-protection {:enable? true
                                                                  :mode    :block}}}

 :com.fulcrologic.rad.pathom/config {:trace?         false
                                     :sensitive-keys #{:password :com.example.model.account/password}
                                     :log-requests?  true
                                     :log-responses? true}

 :taoensso.timbre/logging-config    {:min-level :debug
                                     :ns-filter {:allow #{"com.fulcrologic.*" "billing-app.*" "org.flywaydb.*"}
                                                 :deny #{"com.mchange.v2.c3p0.impl.C3P0PooledConnectionPool"
                                                         "com.mchange.v2.c3p0.stmt.GooGooStatementCache"
                                                         "com.mchange.v2.resourcepool.BasicResourcePool"
                                                         "com.zaxxer.hikari.pool.HikariPool"
                                                         "com.zaxxer.*"
                                                         "com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource"
                                                         "com.mchange.v2.c3p0.impl.NewPooledConnection"
                                                         "datomic.common"
                                                         "datomic.connector"
                                                         "datomic.coordination"
                                                         "datomic.db"
                                                         "datomic.index"
                                                         "datomic.kv-cluster"
                                                         "datomic.log"
                                                         "datomic.peer"
                                                         "datomic.process-monitor"
                                                         "datomic.reconnector2"
                                                         "datomic.slf4j"
                                                         "org.flywaydb.*"
                                                         "io.netty.buffer.PoolThreadCache"
                                                         "org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
                                                         "org.projectodd.wunderboss.web.Web"
                                                         "org.quartz.core.JobRunShell"
                                                         "org.quartz.core.QuartzScheduler"
                                                         "org.quartz.core.QuartzSchedulerThread"
                                                         "org.quartz.impl.StdSchedulerFactory"
                                                         "org.quartz.impl.jdbcjobstore.JobStoreTX"
                                                         "org.quartz.impl.jdbcjobstore.SimpleSemaphore"
                                                         "org.quartz.impl.jdbcjobstore.StdRowLockSemaphore"
                                                         "org.quartz.plugins.history.LoggingJobHistoryPlugin"
                                                         "org.quartz.plugins.history.LoggingTriggerHistoryPlugin"
                                                         "org.quartz.utils.UpdateChecker"
                                                         "shadow.cljs.devtools.server.worker.impl"

                                                         "org.eclipse.*"
                                                         "org.apache.http.*"}}}}
